:root {
  --verde: #354733;
  --branco: #f8f9fb;
}

.button {
  position: relative;
  color: var(--branco);
  border: 1px solid #354733;
  background: var(--verde);
  text-decoration: none;
  overflow: hidden;
}

.button::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  background: var(--branco);
  transition: width 300ms ease-in-out;
  z-index: -1;
  top: 0;
  left: 0;
}

.button:hover{

    color: var(--verde);
}

.button:hover::before {
  width: 100%;
}
