/* Para navegadores baseados no WebKit (Chrome, Safari, etc.) */
input.no-spinner[type='number']::-webkit-inner-spin-button,
input.no-spinner[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input.no-spinner[type='number'] {
  -moz-appearance: textfield;
}